
@{
    ViewBag.Title = "Wczytywanie faktury";
}

<h2>Wczytywanie faktury</h2>

@using (Html.BeginForm("Uploadfile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Wczytaj fakturę" />
        @ViewBag.Message
    </div>
}
