@model Invoicer.ViewModels.UploadFileFormViewModel

@{
    ViewBag.Title = "Wczytywanie faktury";
}

<h2>Wczytywanie faktury</h2>

@using (Html.BeginForm("Uploadfile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @if (!ViewData.ModelState.IsValid)
    {
        <div>Popraw wskazane błędy</div>
    }

    @Html.LabelFor(m => m.InvoiceType)
    @Html.DropDownListFor(m => m.InvoiceType, new SelectList(Model.InvoiceTypes, "Id", "Name"), "Wybierz rodzaj faktury...", new { @class = "form-control" })

    @if (ViewData.ModelState["InvoiceType"] != null && ViewData.ModelState["InvoiceType"].Errors.Count > 0)
    {
        <br>
        <div class="alert alert-warning" role="alert">
            @Html.ValidationMessageFor(m => m.InvoiceType)
        </div>
    }
    </div>

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" class="btn btn-primary btn-lg" value="Wczytaj fakturę" />        
    </div>
}
